{
  "presets": [
    ["@babel/env", { "modules": false }],
    ["@babel/stage-3", { "loose": true }],
    "@babel/react"
  ],
  "plugins": [
    ["transform-react-remove-prop-types", { "mode": "wrap" }],
    "transform-dev-warning"
  ],
  "env": {
    "test": {
      "plugins": [
        "@babel/transform-modules-commonjs"
      ]
    }
  }
}
