{
  "presets": [["env", { "modules": false }], "stage-2", "react"],
  "plugins": [
    ["transform-react-remove-prop-types", { "mode": "wrap" }],
    "transform-dev-warning"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
